[submodule "parent"]
	path = parent
	url = https://github.com/lhbulingbulingstar/parent.git
[submodule "gateway"]
	path = gateway
	url = https://github.com/lhbulingbulingstar/gateway.git
[submodule "common"]
	path = common
	url = https://github.com/lhbulingbulingstar/common.git
